
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
}

/* Style for the brand container */
.brand-container h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

/* Style for the navigation */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    transition: color 0.3s ease; /* Added transition */
}

nav ul li a:hover {
    color: #007bff; /* Highlight color on hover */
}


section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Style for the login button */
.login-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style for the login button container */
.login-container {
    margin-left: auto;
}

/* Style for the box wrapping the login button */
.login-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}


