h1{
    font-style: italic;
font-family: 'Times New Roman', Times, serif;
font-weight: 500;
align-self: center;
color: #ff0101;
font-size: 60px;
border-style: double;
border-radius: 10px;



}
h2{
    font-size: 200%;
}